body {

  font-family: helvetica;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
h2 {
  margin-bottom: 40px;
  text-align: center;
}
h3 {
  margin-left: 20px;
  text-align: center;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}
a {
  text-decoration: none;
  color: #000;
}
form {
  width: 150px;
  margin: auto;
}
div h3 span {
  padding: 10px;
  border: 2px solid #000;
  border-radius: 20px;
}
footer{
  color: white;
  background-color: #222222;
  width: 100%;
  display: flex;
  text-align: center;
}
.footer {
  position: absolute;
  bottom: 0;
}
.starship {
  display: flex;
  margin: 5px;
  align-items: center;
  cursor: pointer;
}
.starship:nth-child(even) {
  background-color: #f2f2f2;
}
.starship:hover {
  background-color: lightBlue;
}
.shipDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.watto-message {
  display: flex;
  align-items: center;
}
.DSexplosion {
  background-image: url(./spaceimg/explosion.gif);
  background-repeat: no-repeat;
  background-size: 100%;
}
